input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html {
    font-family:
    font-size: normal;
    height: 100%;
}

*:focus {
    outline: none;
}

body {
    position:relative;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

fieldset {
    border: 0;
    padding: 0;
    margin-top: 2ex;
}


header {
    height: 12ex;
    width: 100%;
    top: 0px;
    left: 0px;
    color: black;
    background: white;
    border-bottom: 4px solid #ededed; 
    position: fixed;
}

header h1 {
    margin: 0;
    margin-top: 1.5ex;
    margin-left: 3ex;
    float: left;
    font-weight: normal;
}

header div#jarduino_controls {
    float: right;
    margin-right: 10ex;
    padding: 3ex;
}

header div#jarduino_controls div {
    float: left;
}

header div#jarduino_controls div#status {
    padding: 1ex;
    margin-right: 5ex;
    font-weight: bold;
}

header div#jarduino_controls div#status span {
    float: left;
}

header div#jarduino_controls div#status div.success span {
    color: #62b312;
}

header div#jarduino_controls div#status div.success span#icon {
    height: 20px;
    width: 20px;
    background: url('/jardui/img/check.png') no-repeat;
}

header div#jarduino_controls div#status div.error span#icon {
    height: 19px;
    width: 22px;
    background: url('/jardui/img/alert.png') no-repeat;
}

header div#jarduino_controls div#status div.error span {
    color: #ff9000;
}

header div#jarduino_controls div#status #msg {
    margin-left: 1ex;
}

header div#jarduino_controls div#buttons button {
    border-radius: 4px;
    color: #cccccc;
    background: #f2f2f2;
    padding: 2ex;
    width: 16em;
    border-color: transparent;
    box-shadow: 0px 2px 0px #e0e0e0;
    font-weight: bold;
}

div#main {
    box-sizing: border-box;
    padding: 12ex;
    height: 100%;
    color: black;
}

div#main section {
    color: black;
    text-align: center;
    float: left;
    margin-top: 5ex;
    margin-bottom: 5ex;
    margin-right: 5ex;
    padding-bottom: 2ex;
    background: white;
    width: 18em;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 2px 0px #e0e0e0;
    padding: 3ex;
}


div#main section.form {
    box-shadow: 0px 0px 5px 5px #e0e0e0;
}


div#main section .card {
    border-bottom: 2px solid #f2f2f2;
    padding-top: 6ex;
    padding-bottom: 8ex;
}

div#main section .card.create_irrigation_zone div {
    color: #17a1e6;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

div#main section .card.create_irrigation_zone span#icon {
    display: inline-block;
    height: 52px;
    width: 52px;
    background: url('/jardui/img/create.png') no-repeat;
}

div#main section .card span.help {
    display: inline-block;
    color: #d0cccc;
    width: 10em;
}

div#main section label, input {
    display: block;
    text-align: left;
}

div#main section form {
    width: 90%;
    color: #a19999;
}

div#main section form div.buttons {
    margin-top: 3ex;
    float: right;
}

div#main section form button {
    border: 0;
    background: 0;
    padding: 0;
    color: #17a1e6;
    font-weight: bold;
    margin-top: 4ex;
    margin-left: 2ex;
    cursor: pointer;
}

div#main section form label {
    font-size: 80%;
}

div#main section form input, select {
    color: #333333;
    border: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid #f2f2f2;
    padding: .5ex;
}

div#main section form input:focus, select:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #44a1e8;
                                   
}

div#main section form select {
    display: block;
}

div#main section form fieldset.time_interval div {
    float: left;
}

div#main section form fieldset.time_interval #col1 {
    width: 20ex;
}

div#main section form fieldset.time_interval input {
    width: 4em;
}

