input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html {
    font-family:
    font-size: normal;
    height: 100%;
}

*:focus {
    outline: none;
}

body {
    position:relative;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

fieldset {
    border: 0;
    padding: 0;
    margin-top: 2ex;
}

button {
    cursor: pointer;
}

header {
    height: 12ex;
    width: 100%;
    top: 0px;
    left: 0px;
    color: black;
    background: white;
    border-bottom: 4px solid #ededed; 
    position: fixed;
}

header h1 {
    margin: 0;
    margin-top: 1.5ex;
    margin-left: 3ex;
    float: left;
    background: url('/jardui/img/logo.png') no-repeat;
    width: 220px;
    height: 54px;
}

header div#jarduino_controls {
    float: right;
    margin-right: 10ex;
    padding: 3ex;
}

header div#jarduino_controls div {
    float: left;
}

header div#jarduino_controls div#status {
    padding: 1ex;
    margin-right: 5ex;
    font-weight: bold;
}

header div#jarduino_controls div#status span {
    float: left;
}

header div#jarduino_controls div#status div.success span {
    color: #62b312;
}

header div#jarduino_controls div#status div.success span#icon {
    height: 20px;
    width: 20px;
    background: url('/jardui/img/check.png') no-repeat;
}

header div#jarduino_controls div#status div.error span#icon {
    height: 19px;
    width: 22px;
    background: url('/jardui/img/alert.png') no-repeat;
}

header div#jarduino_controls div#status div.error span {
    color: #ff9000;
}

header div#jarduino_controls div#status #msg {
    margin-left: 1ex;
}

header div#jarduino_controls div#buttons button {
    border-radius: 4px;
    padding: 2ex;
    width: 16em;
    border-color: transparent;
    box-shadow: 0px 2px 0px #e0e0e0;
    font-weight: bold;
}

header div#jarduino_controls div#buttons button.disabled {
    color: #cccccc;
    background: #f2f2f2;
    cursor: not-allowed;
}

header div#jarduino_controls div#buttons button.enabled {
    background: #17A1E6;
    color: white;
    cursor: pointer;
}

div#main {
    box-sizing: border-box;
    padding: 12ex;
    height: 100%;
    color: black;
}

div#main section {
    color: black;
    text-align: center;
    float: left;
    margin-top: 5ex;
    margin-bottom: 5ex;
    margin-right: 5ex;
    padding-bottom: 2ex;
    background: white;
    width: 25em;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 2px 0px #e0e0e0;
}


div#main section.form {
    box-shadow: 0px 0px 5px 5px #e0e0e0;
}


div#main section .card {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 8ex;
    margin: 3ex;
    margin-top: 6ex;
}

div#main section .card.create_irrigation_zone div {
    color: #17a1e6;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

div#main section .card.create_irrigation_zone span#icon {
    display: inline-block;
    height: 52px;
    width: 52px;
    background: url('/jardui/img/create.png') no-repeat;
}

div#main section .card span.help {
    display: inline-block;
    color: #d0cccc;
    width: 15em;
}

div#main section label, input {
    display: block;
    text-align: left;
}

div#main section form {
    width: 80%;
    color: #a19999;
    margin: 4ex auto;
}

div#main section form div.buttons {
    margin-top: 3ex;
}

div#main section form button {
    border: 0;
    background: 0;
    padding: 0;
    color: #17a1e6;
    font-weight: bold;
    cursor: pointer;
}

div#main section form label {
    font-size: 80%;
}

div#main section form input, select {
    color: #333333;
    border: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid #f2f2f2;
    padding: .5ex;
}

div#main section form input:focus, select:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #44a1e8;
                                   
}

div#main section form select {
    display: block;
}

div#main section form fieldset.time_interval div {
    float: left;
}

div#main section form fieldset.time_interval #col1 {
    width: 20ex;
}

div#main section form fieldset.time_interval input {
    width: 4em;
}


div#main section div#data  {
    text-align: left;
}

div#main section div#data div#header  {
    border-radius: 4px 4px 0 0;
    height: 36ex;
    width: 100%;
}

div#main section div#data div#header div#content  {
    background: white;
    border-radius: 4px 4px 0 0;
    height: 27ex;
    float: left;
    width: 100%;
}

div#main section div#data div#header div#content div.attributes  {
    float: left;
    margin-bottom: 1.5ex;
}

div#main section div#data div#header div#content div.irrigating {
    float: left;
    height: 46px;
    width: 37px;
    margin-top: 4ex;
    margin-left: 2ex;
    background: url('/jardui/img/drops.png') no-repeat;
}


div#main section div#data div#header div.soil_moisture_level  {
    float: right;
    background: url('/jardui/img/cube.png') no-repeat;
    width: 40px;
    height: 161px;
    margin-right: 2em;
    margin-top: 4ex;
}

div#main section div#data div#header h2 { 
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: normal;
}

div#main section div#data div#header h3 {
    color: grey;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

div#main section div#data div#header div.header-container {
    float: left;
    width: 100%;
}


div#main section div#data div#header div.header-container .attributes {
    float: left;
}

div#main section div#data div#header div.header-container .actions {
    float: right;
    margin-top: 2.5ex;
    margin-right: 2ex;
}


div#main section div#data {
    float: left;
    width: 100%;
 }


div#main section div#data div.items {
    float: left;
    margin: 3ex;
    width: 80%;
    padding-bottom: 4ex;
    border-bottom: 2px solid #f2f2f2;
}

div#main section div#data div.items div.item  {
    clear: both;
    float: left;
    margin-top: 1ex;
    width: 100%;
}


div#main section div#data div.items div.item span.label {
    float: left;
}

div#main section div#data div.items div.item span.value {
    float: right;
    font-weight: bold;
}


div#main section div#data div.buttons {
    clear: both;
    width: 90%;
    margin-top: 4ex;
    margin-left: 2ex;

}

div#main section div#data div.buttons span.edit_button {
    display: block;
    width: 20px;
    height: 20px;
    background: url('/jardui/img/configure.png') no-repeat;
    float: right;
    cursor: pointer;
}

div#main section div#data div.buttons span.edit_button:hover {
    background: url('/jardui/img/configure_hover.png') no-repeat;
}

div#main section form div.buttons span.delete {
    display: block;
    background: url('/jardui/img/delete.png') no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
}

div#main section form div.buttons span.delete:hover {
    background: url('/jardui/img/delete_hover.png') no-repeat;
}

div#main section form div.buttons div.actions {
    float: right;
}

div#main section form div.buttons button {
    float: left;
    margin-left: 2ex;
}

.graph {
    position: relative;
    display: block;
    width: 100%;
    height: 180px;
    top: -210px;
    left: 9px;
}
.graph-content {
    padding-top: 1.5ex;
    padding-bottom: 2ex;
    padding-left: 1.5ex;
    height: 200px;
}

.rickshaw_graph .y_grid .tick[data-y-value=''] {
    stroke-dasharray: 1000;
    stroke: blue;
}


.y-axis .rickshaw_graph {
    padding-top: 10px;
    padding-left: 1ex;
    padding-bottom: 12px;
}

.timeline {
    position: relative;
    top: -220px;
    width: 355px;
    left: 5px;
}

.loader-area {
    padding: 6ex;
    text-align: center;
}

.loader-area p {
    margin-top: 1ex;
    color: grey;
}


.loader {
    margin: 0 auto;
    border: 4px solid rgba(0, 0, 0, .1);
    border-top: 4px solid black; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}